<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('./partials/head.ejs') %>
  </head>
  <body>
      <%- include ('./partials/header.ejs') %>
    <div class="container">
      <h1>Editing Manga</h1>
      <div class="form-group">
      <form action="/mangadb/<%=manga.id%>?_method=PUT" method="POST">
        <label class="form-label"for="name">Name:</label>
        <input class="form-input" type="text" name="name" value="<%=manga.name%>" />
        <label class="form-label" for="color">Description:</label>
        <input class="form-input" type="text" name="color" value="<%=manga.description%>" />
        <br/>
        <br>
        <input type="submit" value="Submit">
      <form>

              </div>
    </div>
  </body>
</html>
