<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include ('./partials/head.ejs') %>
<%- include ('./partials/header.ejs') %>
    <div class="containerIndex">
    <body>
       <% for(let i = 0; i < mangas.length; i++) { %>
         <div class="indexCard">
           <img src="<%=mangas[i].posterImg%>">
           <div class="cardInfo">
             <a href="/mangadb/<%=mangas[i]._id%>">
               <%= mangas[i].name %>
             </a>
           </div>
         </div>
      <% } %>
    </body>
  </div>
</html>
