<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
  <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <%- include('./partials/header.ejs') %>
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/skeleton.css">
    <div class="container">
      <div class="showCard">
        <img src="<%=manga.posterImg%>" id="showImg">
        <h2>~<%=manga.name%>~</h2>
        <button type="button" name="button"><a href="<%=manga.link%>">READ NOW</a></button>
        <table>
           <tr>
             <td>Description:</td>
             <td><p><%=manga.description%></p></td>
           </tr>
           <tr>
             <td>Author:</td>
            <td>
              <p><%=manga.author%> </p>
            </td>
        </tr>
        </table>
        <button type="button" name="button"><a href="/mangadb/<%=manga._id%>/edit">Edit</a></button>
        <form action="/mangadb/<%=manga._id%>?_method=DELETE" method="POST">
        <input type="submit" value="DELETE"/>
      </form>
      </div>
    </div>
  </body>
</html>
