<!DOCTYPE html>
<html lang="en" dir="ltr">
<%-include('./partials/head.ejs')%>
<%-include('./partials/header.ejs')%>
  <body>
    <link rel="stylesheet" href="/skeleton.css">
    <link rel="stylesheet" href="/normalize.css">
  <div class="show-body">
    <div class="show-page">
      <div class="showImg">
        <img src="<%=manga.posterImg%>" id="showImg">
      </div>
            <div class="inner-content">
          <h1 class="h1T">~<%=manga.name%>~</h1>
          <hr>
          <div class="info-row-1">
            <span>
              Released
            </span>
            <p> <%=manga.released%> </p>
          </div>
          <div class="info-row-1">
            <span>
              Author(s)
            </span>
            <p> <%=manga.author%> </p>
          </div>
          <div class="info-row-1">
            <span>
              Rating
            </span>
            <p> <%=manga.rating%> </p>
          </div>
          <div class="info-row-1">
            <span>
              Views
            </span>
            <p> <%=manga.views%> </p>
          </div>
          <hr>
            <p><%=manga.description%></p>
        <div class="showBtns">
          <button type="button" name="button"><a href="<%=manga.link%>">READ NOW</a></button>
            <button type="button" name="button"><a href="/mangadb/<%=manga._id%>/edit">Edit</a></button>
          <form action="/mangadb/<%=manga._id%>?_method=DELETE" method="POST">
                <input type="submit" value="DELETE"/>
          </form>
        </div>
      </div>
    </div>
  </div>
  </body>
</html>
